.App{
  background-attachment: fixed;
  background-color: #aeb4c0;
  padding: 10px;
  margin: 10px;
  border: solid rgb(150, 138, 161) ;
  border-radius: 8px;
}
.App-header {
  min-height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: left;
  justify-content: left;
  font-size: calc(18px + 2vmin);
  color: rgb(34, 29, 29);
}
.App-edit {
  background-color: rgb(246, 249, 250);
  border: none;
  border-radius: 3px;
  margin: 10px;
  color: rgb(124, 124, 187);
  
}
.App-del{
  background-color: rgb(246, 249, 250);
  border: none;
  border-radius: 3px;
  margin: 10px ;
  color: red;
}
.App-buttonadd{
  background-color: rgb(114, 105, 122);
  background-image: url("top-yes-icon-icon-with-png-and-vector-format-for-free-unlimited-362202.png");
  border: none;
  border-radius: 3px;
  margin: 10px;
  color: rgb(97, 97, 209);
  padding: 3px 8px; 
}

.App-donrtasks{
  text-decoration: line-through;
}

.App-noDecoration{
  text-decoration: none;

}